.main_2{
      
      text-align:left;
      margin-right: 1000px;
      font-style: inherit;
      font-weight: 200;
      color: rgb(222, 226, 231);
      background-color: rgb(9, 42, 62);
      
}
.img{
      height: 150px;
      width: 150px;
      align-content: center;
      border-radius: 100px;
}

.main_3
{
      margin-left: 1000px;
      background-color: antiquewhite;
      
}